body {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

main.cv {
  width: 21.59cm;
  height: 27.94cm;

  display: flex;
  align-items: center;
  justify-content: center;

  section {
    h2 {
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 400;
      color: $color-main;
    }

    hr {
      margin: 0;
      margin-bottom: 10px;
      color: #d6d6d6;
      border-width: 0.5px;
    }
  }

  .data {
    width: 30%;
    height: 100%;
    position: relative;
    background: #e6e6e6;
    overflow: hidden;

    section {
      padding: 0 $padding-width;
    }

    section.header {
      padding: $padding-height 0 40px 0;
      position: relative;
      text-align: center;
      color: $color-white;

      h1 {
        margin: 0;
        margin-bottom: 8px;
        position: relative;
        color: inherit;
        font-size: 22px;
      }

      p {
        margin: 0;
        position: relative;
        color: inherit;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
      }

      &::before {
        content: '';
        width: 405px;
        height: 300px;
        position: absolute;
        left: -80px;
        top: -150px;
        background: $color-main;
        border-radius: 50%;
        z-index: 0;
      }
    }

    section.information {
      .info {
        padding-bottom: 18px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 10px;

        svg {
          width: 20px;
          height: 20px;
        }

        a,
        span {
          font-size: 12px;
          text-decoration: none;
          color: $color-black;
        }
      }
    }

    section.skills {
      position: relative;
      z-index: 1;

      h3 {
        font-weight: 700;
        margin: 0;
        margin-bottom: 5px;
      }

      p {
        margin: 0;
        margin-top: -8px;
        margin-bottom: 12px;
        line-height: 30px;
        text-align: justify;
      }
    }

    &::before {
      content: '';
      width: 405px;
      height: 300px;
      position: absolute;
      bottom: 70px;
      left: -80px;
      border-radius: 50%;
      background: #e6e6e6;
      z-index: 1;
    }

    &::after {
      content: '';
      width: 100%;
      height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: $color-main;
    }
  }

  .profile {
    width: 70%;
    height: 100%;
    padding: $padding-height $padding-width;

    section.bio {
      h2 {
        margin: 0;
      }
      p {
        margin: 8px 0;
      }
    }

    section.experience {
      .exp {
        margin-bottom: 12px;
        color: $color-main;

        .header {
          display: flex;
          margin-bottom: 5px;
          align-items: center;
          justify-content: flex-start;
          column-gap: 8px;

          h3 {
            width: max-content;
            display: inline;
            margin: 0;
            color: $color-black;
          }
          .company {
            width: 45%;
            margin: 0;
          }
          .period {
            margin-left: auto;
            font-size: 12px;
            font-weight: 600;
            color: $color-main;
          }
        }

        ul.projects {
          margin: 0;
          margin-left: 15px;
          margin-bottom: 10px;
          padding: 0;

          li {
            font-size: 12px;
          }
        }
      }
    }

    section.training {
      .train {
        margin-bottom: 12px;

        .title {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          h3 {
            width: 80%;
            margin: 0;
            margin-bottom: 5px;
            color: $color-black;
          }
          span {
            width: 40%;
            margin-left: 8px;
            color: $color-main;
            font-size: 12px;
            font-weight: 600;
            text-align: right;
          }
        }

        p {
          margin: 0;
        }
      }
    }
  }
}
